<div class="well modulelogin-interne"  >
    <div class="col-sm-12" >
        <a href="{{path('fos_user_security_logout')}}"><div class="modulelogin-login"  >Se déconnecter</div></a> 
    </div>

</div>
