


<div class="well modulelogin-interne"  >
	<div class="col-sm-6" >
        <a href="{{path('fos_user_security_login')  }}"  ><div class="modulelogin-login"  >Se connecter</div></a> 
    </div>
    <div class="col-sm-6" >
        <a href="{{path('fos_user_registration_register') }}" ><div class="modulelogin-login" >S'inscrire</div></a>
	</div>
</div>
