<div class="well modulelogin-interne"  >
    <div class="col-sm-12" >
        <a href="{{path('fos_user_security_logout')}}"><div class="modulelogin-login"  ><span class="h5-fonc">Se déconnecter</span></div></a> 
    </div>

</div>
