


<div class="well modulelogin-interne"  >
	<div class="col-xs-6 " style="padding-left:0; padding-right:0">
        <a href="{{path('fos_user_security_login')  }}"  ><div class="modulelogin-login "  ><span class="h5-fonc">Se connecter</span></div></a> 
    </div>
    <div class="col-xs-6" >
        <a href="{{path('fos_user_registration_register') }}" ><div class="modulelogin-login" ><span class="h5-fonc">S'inscrire</span></div></a>
	</div>
</div>
