


<div class="well sidebar">
    <ul class="nav nav-list">
        <li>
            <a href="{{path('fos_user_security_login')  }}" class="sidebar">Se connecter</a> 
        </li>
        <li>
            <a href="{{path('fos_user_registration_register') }}" class="sidebar" >S'inscrire</a>
        </li>
    </ul>
</div>
