<div style="background:#7E05F9;">&nbsp;</div>
<div style="background:#B290F8;">
<img src="{{ url}}" style="margin-top:-5px; width:150px;" >
<h1>{{ vendeur }}</h1>
<br/>
<p>Bonjour {{ utilisateur.username }} </p>

<p>Nous prenons acte de votre rétractation pour votre commande.<br/>
Vous recevrez prochanement par courrier le remboursement correspondant.<br/>
Vous pouvez accèder à votre avoir sur votre espace client.<br/><br/>

L'équipe ProG-developpement IT s'excuse de ne pas avoir pu satisfaire pleinement à votre demande et espère vous revoir prochainement sur notre site.<br/>

Cordialement.</p>
<br/>
<div style="background:#7E05F9;">&nbsp;</div>