<div style="background:#7E05F9;">&nbsp;</div>
<div style="background:#B290F8;">
<img src="{{ asset( 'web/img/LogoProG8.PNG' )}}" style="margin-top:-5px" >
<img src="web/img/LogoProG8.PNG"  style="margin-top:-5px" >
<h1>{{ vendeur }}</h1>
<br/>
<p>Bonjour {{ utilisateur.username }} </p>

<p>Votre commande vient de partir de nos locaux et chemine maintenant vers vous.<br/>
Le transporteur vous avisera de l'arrivée de votre colis.<br/>
Vous pouvez accèder à votre facture sur votre espace client.<br/><br/>

L'équipe ProG-developpement IT vous remercie pour votre commande.<br/>

Cordialement.</p>
<br/>
<div style="background:#7E05F9;">&nbsp;</div>