<p>Bonjour {{ utilisateur.username }} </p>

<p>Votre commande est en cours de préparation.<br/>
Un message vous sera envoyé au départ de votre colis.<br/><br/>

L'équipe ProG-developpement IT vous remercie pour votre commande.<br/>

Cordialement.</p>