<div style="background:#7E05F9;">&nbsp;</div>
<div style="background:#B290F8;">
<img src="{{ asset( 'web/img/LogoProG8.PNG' )}}" style="margin-top:-5px" >
<img src="web/img/LogoProG8.PNG"  style="margin-top:-5px" >
<h1>{{ vendeur }}</h1>
<br/>
<p>Bonjour {{ utilisateur.username }} </p>

<p>Votre commande est en cours de préparation.<br/>
Un message vous sera envoyé au départ de votre colis.<br/><br/>

L'équipe ProG-developpement IT vous remercie pour votre commande.<br/>

Cordialement.</p>
<br/>
<div style="background:#7E05F9;">&nbsp;</div>