<p>Bonjour {{ utilisateur.username }} </p>

<p>Votre commande est validée.<br/>
Vous pouvez accèder à votre facture sur votre espace client.<br/><br/>

L'équipe ProG-developpement IT vous remercie pour votre commande.<br/>

Cordialement.</p>