<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <title>Aïe, une erreur est survenue : {{ status_text }}</title>
    </head>
    <body style="background-color:#34495e;">
    <div style=" color: #246; background-color:#ccc; width:80%; margin-left:10%; padding: 15px; border-radius:4px;">
        <br/>
                <img src="./img/LogoProG140px.png">
        <br/>

        <br/>
        <div style="margin-left:20%">  <img src="./uploads/500.jpg" width: "300px;">
        </div>
        <h1>Oops! Une erreur est survenue. Désolé !</h1>
        <h2>Le serveur a retourné le message d'erreur "<span style="font-size:40px;">{{ status_code }} </span><i> {{ status_text }}"</i>.</h2>

        <div style="height:40px;">&nbsp;</div>
        <div> 
            <h3>La page que vous attendiez ne peut finalement pas être trouvée en raison d'une erreur.
            Afin que nous puissions corriger cette erreur au plus vite, ce serait sympa de nous en avertir : <br/>
           pour cela, dans le menu autre > Nous contacter, vous pouvez nous écrire un petit mail indiquant la page d'où vous veniez et celle envisagée. Merci et encore désolé !      </h3>
        </div>
    </div>
    </body>
</html>