{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    
    <div class="col-sm-4">
    	{% include 'UtilisateursBundle:Default:modulesUsed/utilisateursConnected.html.twig'  %} 
    </div>
    
    <div class="col-sm-8">
        <h2>Mes informations</h2>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                
                <div class="col-sm-4"> 
                    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
 					{{ form_widget(form) }}
                        <br />
                        <input type="submit" class="btn btn-primary" value="{{ 'profile.edit.submit'|trans }}" />
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

