{% if nbCmdesEnCours == 0 %}
  <div class="row h6b" style="line-height:50%;" > <i style="color:#223; "> 
      (Pas de cmdes en cours)        
  </i></div> 
{% else %}         
  <div class="row h6b" style="line-height: 50%; max-height:10px;"><i style="color:#223;">
    ({{nbCmdesEnCours}}  
  
  {% if nbNvellesCmdes == 0 %}
    )</i></div>
  {% else %}  
  , </i><i style="color:#f40;">dont {{nbNvellesCmdes}}  nouvelles</i><i style="color:#223;">)</i></div>
  {% endif %}
{% endif %}
