
    
<div class="well">
    <ul class="nav nav-list">
    	<div style="height:100px;">&nbsp;</div>
        <li class="nav-header"><a href="{{path('produits') }}" > Nos produits</a></li>
         {% render(controller('EcomBundle:Categories:menu')) %}
    </ul>
</div>

