
    
<div class="well sidebar">
    <ul class="nav nav-list">
    	<div style="height:100px;">&nbsp;</div>
        <li class="nav-header"><a href="{{path('produits') }}" class="sidebar sup"> Nos produits</a></li>
         {% render(controller('EcomBundle:Categories:menu')) %}
         {% if is_granted('ROLE_ADMIN') %} <li class="nav-header"><a href="{{path('adminCommandes') }}" class="sidebar sup" >Administration</a></li> {% endif %}
    </ul>
</div>

