<div class="col-md-3">

	<div class="well">
	    <ul class="nav nav-list">
	    	<!--<div style="height:100px;">&nbsp;</div>-->
	        <li class="nav-header">
	        	<a href="{{path('produits') }}" >Produits</a>
	        </li>
	        <li>
	        	<a href="#" >Catégories produits</a>
	        </li>
	    </ul>
	</div>

	<div class="well">
	    <ul class="nav nav-list">
	    	<!--<div style="height:100px;">&nbsp;</div>-->
	        <li class="nav-header">
	        	<a href="{{path('produits') }}" >Clients</a>
	        </li>
	        <li>
	        	<a href="#" >Commandes</a>
	        </li>
	    </ul>
	</div>

	<div class="well">
	    <ul class="nav nav-list">
	    	<!--<div style="height:100px;">&nbsp;</div>-->
	        <li class="nav-header">
	        	<a href="{{path('adminPages') }}" >pages</a>
	        </li>

	    </ul>
	</div>
</div>