/*Modifs bootstrap */

.thumbnail {list-style: none; }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
  list-style: none;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*Media taille image, fontes, étoiles */
@media screen and (min-width:1025px){
    .imgwidth5 {width:400px;}
    .imgwidth4 {width:300px;} 
    .imgwidth3 {width:240px;}  
    .imgwidth2 {width:190px;}
    .imgwidth1 {width:140px;}
    .imgxxs {width:15px;}
   /* h1, .h1 {font-size:4.5rem; color:#222;}
    h2, .h2 {font-size:3.7rem; color:#222;} 
    h3, .h3 {font-size:2.6rem; color:#222;}  
    h4, .h4 {font-size:2.0rem;  color:#222; }
    h5, .h5 {font-size:1.8rem;  color:#222;}*/
    .h5-clair {font-size:1.8rem;  color:#bbb;}
    .h5-moy {font-size:1.8rem;  color:#777;}  
    .h5-fonc {font-size:1.8rem;  color:#333;}  
    .smallf {font-size: 1.3rem; color:#555;}
    .fontxs {font-size: 1.0rem; color:#555;}
   /* Score - rating - 5 étoiles : */
    .c-rating__item { width: 27px;  height: 24px;  
        background: url("../img/stars.png"); background-position: -1px 0;  cursor: pointer;}
    .c-rating__item.is-active { background-position: -54px 0;}
    .c-rating__item.half-rating {  background-position: -27px 0;}

    .c-rating__m0 { width:20px; height: 18px; cursor: pointer;}
    .c-rating__mitem { width: 20px; height: 18px; margin-left:1px; 
        background: url("../img/starsmoy.png");
      background-position: 0 0; cursor: pointer; }
    .c-rating__mitem.is-active { background-position: -40px 0;}
    .c-rating__mitem.half-rating { background-position: -20px 0;}
    .gloup-lg {display: block;}
    .gloup-md {display: block;}
    .gloup-sm {display: block;}
    .gloup-xs {display: block;}
}
@media screen and (max-width:1024px) and (min-width:801px){
    .imgwidth5 {width:350px;}
    .imgwidth4 {width:250px;} 
    .imgwidth3 {width:190px;}  
    .imgwidth2 {width:150px;}
    .imgwidth1 {width:110px;}
    .imgxxs {width:13px;}
 /*   h1, .h1 {font-size:4.0rem;color:#222;}
    h2, .h2 {font-size:3.2rem;color:#222;} 
    h3, .h3 {font-size:2.3rem;color:#222;}  
    h4, .h4 {font-size:1.8rem; color:#222;}
    h5, .h5 {font-size:1.6rem;  color:#222;}*/
    .h5-clair {font-size:1.6rem;  color:#bbb;}
    .h5-moy {font-size:1.6rem;  color:#777;}  
    .h5-fonc {font-size:1.6rem;  color:#333;} 
    .smallf {font-size: 1.1rem; color:#555;}
    .fontxs {font-size: 0.8rem; color:#555;}
   /* Score - rating - 5 étoiles : */
    .c-rating__item { width: 20px;  height: 18px;  
        background: url("../img/starsmoy.png"); background-position: -1px 0;  cursor: pointer;}
    .c-rating__item.is-active { background-position: -40px 0;}
    .c-rating__item.half-rating { background-position: -20px 0;}

    .c-rating__m0 { width:20px; height: 18px; cursor: pointer;}
    .c-rating__mitem { width: 20px; height: 18px; margin-left:1px; 
        background: url("../img/starsmoy.png");
      background-position: 0 0; cursor: pointer; }
    .c-rating__mitem.is-active { background-position: -40px 0;}
    .c-rating__mitem.half-rating { background-position: -20px 0;}
    .gloup-lg {display: none;}
    .gloup-md {display: block;}
    .gloup-sm {display: block;}
    .gloup-xs {display: block;}
}

@media screen and (max-width:800px) and (min-width:691px){   
    .imgwidth5 {width:300px;}
    .imgwidth4 {width:200px;} 
    .imgwidth3 {width:150px;}  
    .imgwidth2 {width:120px;}
    .imgwidth1 {width:90px;}
    .imgxxs {width:11px;}
  /*  h1, .h1 {font-size:3.5rem;color:#222;}
    h2, .h2 {font-size:2.8rem;color:#222;} 
    h3, .h3 {font-size:2.0rem;color:#222; }  
    h4, .h4 {font-size:1.6rem;color:#222; }
    h5, .h5 {font-size:1.4rem;  color:#222;} */
    .h5-clair {font-size:1.4rem;  color:#bbb;}
    .h5-moy {font-size:1.4rem;  color:#777;}  
    .h5-fonc {font-size:1.4rem;  color:#333;} 
    .smallf {font-size: 0.9rem; color:#555;}
    .fontxs {font-size: 0.7rem; color:#555;}
   /* Score - rating - 5 étoiles : */   
    .c-rating__item { width: 20px;  
        height: 18px;  
        background: url("../img/starsmoy.png"); 
        background-position: -1px 0;  
        cursor: pointer;
    }
    .c-rating__item.is-active { background-position: -40px 0;}
    .c-rating__item.half-rating { background-position: -20px 0;} 

    .c-rating__m0 { width:14px; height: 12px; cursor: pointer;}
    .c-rating__mitem { width: 14px; height: 12px;  
        background: url("../img/starssmall.png");
      background-position: 0 0; cursor: pointer; }
    .c-rating__mitem.is-active { background-position: -28px 0;}
    .c-rating__mitem.half-rating { background-position: -14px 0;}   
    .gloup-lg {display: none;}
    .gloup-md {display: none;}
    .gloup-sm {display: block;}
    .gloup-xs {display: block;}

}

@media screen and (max-width:690px){
    .imgwidth1 {width:200px;}
    .imgwidth2 {width:150px;} 
    .imgwidth3 {width:120px;}  
    .imgwidth4 {width:95px;}
    .imgwidth5 {width:70px;}
    .imgxxs {width:9px;}
 /*   h1, .h1 {font-size:3.0rem;color:#222;}
    h2, .h2 {font-size:2.4rem;color:#222;} 
    h3, .h3 {font-size:1.8rem;color:#222;}  
    h4, .h4 {font-size:1.4rem;color:#222;}
    h5, .h5 {font-size:1.2rem; color:#222;} */
    .h5-clair {font-size:1.2rem;  color:#bbb;}
    .h5-moy {font-size:1.2rem;  color:#777;}  
    .h5-fonc {font-size:1.2rem;  color:#333;} 
    .smallf {font-size: 0.7rem; color:#555;}
    .fontxs {font-size: 0.6rem; color:#555;}
   /* Score - rating - 5 étoiles : */   
    .c-rating__item { width: 14px;  height: 12px;  
        background: url("../img/starssmall.png"); background-position: -1px 0;  cursor: pointer;
    }
    .c-rating__item.is-active { background-position: -28px 0;}
    .c-rating__item.half-rating { background-position: -14px 0;} 

    .c-rating__m0 { width:12px; height: 10px; cursor: pointer;}
    .c-rating__mitem { width: 12px; height: 10px;  
        background: url("../img/starsxs.png");
      background-position: 0 0; cursor: pointer; }
    .c-rating__mitem.is-active { background-position: -18px 0;}
    .c-rating__mitem.half-rating { background-position: -9px 0;}  
    .gloup-lg {display: none;}
    .gloup-md {display: none;}
    .gloup-sm {display: none;}
    .gloup-xs {display: block;} 
}
@media all and (max-device-width:480px){
    .imgwidth1 {width:150px;}
    .imgwidth2 {width:100px;} 
    .imgwidth3 {width:75px;}  
    .imgwidth4 {width:60px;}
    .imgwidth5 {width:45px;}
    .imgxxs {width:8px;}

/*    h1, .h1 {font-size:2.5rem; color:#222;}
    h2, .h2 {font-size:2.1rem; color:#222;} 
    h3, .h3 {font-size:1.7rem; color:#222;}  
    h4, .h4 {font-size:1.3rem; color:#222;}
    h5, .h5 {font-size:1.1rem; color:#222;} */
    .h5-clair {font-size:1.1rem;  color:#bbb;}
    .h5-moy {font-size:1.1rem;  color:#777;}  
    .h5-fonc {font-size:1.1rem;  color:#333;} 
     .smallf {font-size: 0.7rem; color:#555;}
   /* Score - rating - 5 étoiles : */
    .c-rating__item { width: 14px;  height: 12px; background: url("../img/starssmall.png"); background-position: 0px 0;  cursor: pointer;}
    .c-rating__item.is-active { background-position: -28px 0;}
    .c-rating__item.half-rating {  background-position: -14px 0;}

    .c-rating__m0 { width:12px; height: 10px; cursor: pointer;}
    .c-rating__mitem { width: 12px; height: 10px;  
        background: url("../img/starsxs.png");
      background-position: 0 0; cursor: pointer; }
    .c-rating__mitem.is-active { background-position: -18px 0;}
    .c-rating__mitem.half-rating { background-position: -9px 0;}   
    .gloup-lg {display: none;}
    .gloup-md {display: none;}
    .gloup-sm {display: none;}
    .gloup-xs {display: none;} 
}

/*Tableaux */
.sectn {margin-top:20px;margin-bottom:20px;background-color:lightgrey; color: #2c3e50; width:100%;padding:20px;}
table {border-collapse:collapse; width:98%;}
tr {border:1px solid #bbb;}
.bordoff {border:none;}
td, th {text-align:center;}
.table-store {background:#a3a3af; color:#334;}
.table-store th{font-weight:600; color:#223;background:#92929f;}
.table-store tr{padding-bottom:3px; padding-top:3px;}

/*couleurs*/
.body-color {background-color:#34495e; color:#ecf0f1;}
.body-admin-color {background-color:#566b7f; color:#34495e;}
.body-inverse {background-color:#ecf0f1; color:#34495e; opacity:1;}
.navbar-color {background:#606070;}
.fondGrisClair {background:#ddddff;}
.btn-greyish {background-color:#777; color:#ccc;}
.btn-greyish:hover {background-color:#aaa; color:#eee;border:1px solid #777; box-shadow: 1px 1px 1px #333}
.btn-darkblue {background-color:#34495e; color:#cad0d1; border:none;}
.btn-darkblue:hover {background-color:#34495e; color:#ecffff; border:none;}
.btn-brownish {background:#A28B6E; color:#ccc;}
.btn-brownish:hover {background-color:#c4ab8e; color:#eee; border:1px solid #A28B6E; box-shadow: 1px 1px 1px #321}
.liste-darkblue {background-color:#23384d; color:#cad0d1; border:none; opacity:1;}
.rouge {color:red; font-weight:600;}
.colorenable {color:#444;}
.colordisable {color:#aaa;}
.thumbnail {background:#bbb;}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #44596e;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #405469;
}

/*general*/
.decal-g {text-align: left; padding-left: 4px;}
.decal-G {padding-left: 22px;}
.decal-l {margin-left: 6%;}
.decal-v {margin-top: 12px;}
.decal-V {margin-top: 24px;}
.decal-VV {margin-top: 36px;}
.decal-d {text-align: right; padding-right: 4px;}
.decal-r {margin-right: 12px;}
.decal-b {padding-bottom: 6px;}
.decal-B {margin-top: -6px;}
.wedge1 {height: 1px;}
.wedge3 {height: 3px;}
.wedge5 {height: 5px;}
.wedge10 {height: 10px;}
.wedge20 {height: 20px;}
.wedge30 {height: 30px;}
.wedge40 {height: 40px;}
.wedge50 {height: 50px;}
.wedge60 {height: 60px;}
.wedge70 {height: 70px;}
.wedge80 {height: 80px;}
.wedge100 {height: 100px;}
.bordure { border: 1px solid #99d; }
.bordTop { border-top: 1px solid #99d; }
.bordBas { border-bottom: 1px solid #99d; }
.bordverti { height: 50px; border-left: 1px solid #99d; border-right: 1px solid #99d; }
.bordvertiL90 { height: 90px; border-left: 1px solid #99d;  }
.bordvertiL70 { height: 70px; border-left: 1px solid #99d;  }
.bordvertiL50 { height: 50px; border-left: 1px solid #99d;  }
.bordvertiR14 { height: 14px; border-right: 1px solid #99d;  }
.hrb {height:1px ; margin: 0.5em 0; color:#444; background-color: #444;}
.hrF {height:4px ; margin: 0.5em 0; color:#111; }
.hrl {height:3px ; margin: 0.5em 10; color:#777; opacity:0.5; }
.hrb {height: 2px; margin: 0.5em 10; background: #114 ; opacity:0.35; box-shadow: 5px 2px 12px 6px #114; }
.vcenter {display: inline-block; vertical-align: middle;  float: none; }
.cursorp {cursor: pointer;}
.cursord {cursor: default;}

/* ******** FENETRES ET BOITES DE DIALOGUE : ********************** */
/*type alert*/
.layer_cart_overlay {position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: block; opacity: 0.7; z-index: 98; background: #000;}
.layer_cart {background: #ddd;  box-shadow: 0 0 80px -6px black; 
	border: 3px solid #3d3c3f; width: 650px; 
	transform: translate(-50%, -50%); position: fixed; 
	z-index: 99; left:50%; top: 50%; display: block; border:none;}
.layer_cart_light {}
.layer_cart_product {box-sizing: border-box; position: static; overflow: hidden; color:#114; }
.flottant {position: absolute; top:330px; left:370px; background-color: #ddd; z-index: 100;min-width: 240px; box-shadow: 4px 4px 2px black; }
.flottantTopRight0 {position: absolute; top:0px; right:0px; background-color: #333; z-index: 100;min-width: 240px; box-shadow: 4px 4px 2px black; }
.flottantTopRight50 {position: absolute; top:50px; right:32px; background-color: #363; z-index: 100;min-width: 240px; box-shadow: -1px 3px 2px #024; }

/* **************** BOUTONS DIVERS : **************************** */
.btn-plus { width:18px; border: 0; border-radius: 2px; line-height:20px;
			font-size:16px; font-weight: bold ; color: red; background-color: #aaa;
			}
.btn-plus:hover {font-size: 17px; color: orange;  background-color: #bbb}
.btn-grosplus { width:50px; margin-left:8px; border: 0; border-radius: 4px; line-height:30px;
			font-size:24px; font-weight: bold ; color: red; background-color: #aaa;
			}
.btn-grosplus:hover {font-size: 25px; color: orange;  background-color: #bbb}			
.btn-mult { width:12px; border: 0; border-radius: 2px; line-height:14px;
			font-size:12px; font-weight: bold ; color: red; background-color: #aaa; 
			}
.btn-mult2 { min-width:14px; border: 0; border-radius: 2px; line-height:14px;
			font-size:9px; color: red; background-color: #aaa; 
			}
.btn-mult2:hover {font-size: 10px; color: orange;  background-color: #bbb; text-decoration: none}
.btn-mult3 { min-width:18px; border: 0; border-radius: 4px; line-height:18px;
            font-size:14px; color: red; background-color: #aaa; 
            }
.btn-mult2:hover {font-size: 15px; color: orange;  background-color: #bbb; text-decoration: none}			
.btn-mult-position {position: absolute; margin-top: -7px;padding-left: 2px; margin-left: -5px;}
.btn-plus-pos1 {position: absolute; margin-top: -1px; padding-left: 1px ; }
.btn-plus-pos2 {position: absolute; margin-top: 12px; padding-left: 1px ; margin-left: 12px; }
.btn-mult:hover {font-size: 12px; color: orange;  background-color: #bbb}
.btn-eye { min-width:14px; border: 0; border-radius: 2px; line-height:14px;   max-height:15px; 
			font-size:9px; color: green; background-color: #aaa; position: relative; margin-top: -5px;padding-left: 2px;
			}
.btn-eye:hover {font-size: 10px; color: lime;  background-color: #bbb; text-decoration: none}
.btn-comp  { width:7px; border: 0; font-size:9px; font-weight: bold ; line-height:6px; max-height: 9px; color: black; background-color: #fff; position: relative; margin-top: -2px; margin-bottom: -2px; margin-left: -5px;
			}		
.btn-comp:hover {font-size: 9px; color: lime;  background-color: #aaa;}

/* Boutons spéciaux 'tableau de bord'  */
.btn-admin1 {padding: 3px 10px; margin: 0 10px;min-width:115px; height: 60px; font-size: 16px; 
        background-image: linear-gradient(#ccc6c3 0%, #828c95 24%, #555 41%, #333 100%); 
        background-image: -moz-linear-gradient(top, #ccc6c3 0%, #828c95 24%, #555 41%, #333 100%);
        background-image: -webkit-linear-gradient(top, #ccc6c3 0%, #828c95 24%, #555 41%, #333 100%);
        box-shadow: 2px 2px 2px 2px black, 0px 1px 1px grey inset; color: #ddd; text-shadow: 1px 1px 2px black;
    }
.btn-admin1:hover {padding: 5px 12px; color:white; font-weight: 600;}  
.btn-admin2 {padding: 5px 5px; min-width:40px; height: 40px; font-size: 10px; border-radius:50%; margin-top:-7px;
        background-image: radial-gradient(circle at 18px 18px,red 0%,#000 60%,#555 61%,#222 100%); 
        background-image: -moz-radial-gradient(circle at 18px 18px,red 0%,#000 60%,#555 61%,#222 100%);
        background-image: -webkit-radial-gradient(circle at 18px 18px,red 0%,#000 60%,#555 61%,#222 100%);
        box-shadow: 2px 2px 2px 2px black, 0px 1px 1px grey inset; color: #ddd; text-shadow: 1px 1px 2px black;
    }
.btn-admin2:hover {
        background-image: radial-gradient(circle at 18px 18px,orange 0%,#000 60%,#555 61%,#222 100%); 
        background-image: -moz-radial-gradient(circle at 18px 18px,orange 0%,#000 60%,#555 61%,#222 100%);
        background-image: -webkit-radial-gradient(circle at 18px 18px,orange 0%,#000 60%,#555 61%,#222 100%);
        color:#eee;
    }
.btn-admin2:active {
        background-image: radial-gradient(circle at 18px 18px,lime 0%,#000 60%,#555 61%,#222 100%); 
        background-image: -moz-radial-gradient(circle at 18px 18px,lime 0%,#000 60%,#555 61%,#222 100%);
        background-image: -webkit-radial-gradient(circle at 18px 18px,lime 0%,#000 60%,#555 61%,#222 100%);
        color:#fff;
    }
.btn-admin21 {padding: 5px 5px; min-width:40px; height: 40px; font-size: 10px; border-radius:50%; margin-top:-7px;
        background-image: radial-gradient(circle at 18px 18px,green 0%,#000 60%,#555 61%, yellow 74%,#222 97% ); 
        background-image: -moz-radial-gradient(circle at 18px 18px,green 0%,#000 60%,#555 61%, yellow 74%,#222 97% );
        background-image: -webkit-radial-gradient(circle at 18px 18px,green 0%,#000 60%,#555 61%, yellow 74%,#222 97% );
        box-shadow: 2px 2px 2px 2px black, 0px 1px 1px grey inset; color: #ddd; text-shadow: 1px 1px 2px black;
    }
.btn-admin21:hover {
        background-image: radial-gradient(circle at 18px 18px,lime 0%,#000 60%,#555 61%, yellow 74%,#222 97% ); 
        background-image: -moz-radial-gradient(circle at 18px 18px,lime 0%,#000 60%,#555 61%, yellow 74%,#222 97% );
        background-image: -webkit-radial-gradient(circle at 18px 18px,lime 0%,#000 60%,#555 61%, yellow 74%,#222 97% );
         color: #eee; 
    }
.btn-admin22 {padding: 5px 5px; min-width:40px; height: 40px; font-size: 10px; border-radius:50%; margin-top:-7px;
        background-image: radial-gradient(circle at 18px 18px,green 0%,#000 60%,#555 61%, lime 74%,#222 97% ); 
        background-image: -moz-radial-gradient(circle at 18px 18px,green 0%,#000 60%,#555 61%, lime 74%,#222 97% );
        background-image: -webkit-radial-gradient(circle at 18px 18px,green 0%,#000 60%,#555 61%, lime 74%,#222 97% );
        box-shadow: 2px 2px 2px 2px black, 0px 1px 1px grey inset; color: #ddd; text-shadow: 1px 1px 2px black;
    }
.btn-admin22:hover {
        background-image: radial-gradient(circle at 18px 18px,lime 0%,#000 60%,#555 61%, lime 74%,#222 97% ); 
        background-image: -moz-radial-gradient(circle at 18px 18px,lime 0%,#000 60%,#555 61%, lime 74%,#222 97% );
        background-image: -webkit-radial-gradient(circle at 18px 18px,lime 0%,#000 60%,#555 61%, lime 74%,#222 97% );
         color: #eee; 
    }
.btn-admin31 {padding: 5px 5px; min-width:50px; height: 40px; font-size: 10px; border-radius:10px; margin-top:-7px;
    background-image:radial-gradient(ellipse at 48% 48%, green 0%,rgba(0,100,0,0.90) 50%, rgba(0,0,0,0.90) 55%,rgba(50,50,50,0.90) 70%,#000 100%);
    box-shadow: 2px 2px 2px 2px black, 0px 1px 1px grey inset; color: #ddd; text-shadow: 1px 1px 2px black;
}
.btn-admin31:hover {
    background-image:radial-gradient(ellipse at 48% 48%, lime 0%,rgba(0,100,0,0.90) 50%, rgba(0,0,0,0.90) 55%,rgba(50,50,50,0.90) 70%,#000 100%);
    box-shadow: 2px 2px 2px 2px black, 0px 1px 1px grey inset; color: #eee; text-shadow: 1px 1px 2px black;
}
.btn-admin32 {padding: 5px 5px; min-width:50px; height: 40px; font-size: 10px; border-radius:10px; margin-top:-7px;
    background-image:radial-gradient(ellipse at 48% 48%, #f90 0%,rgba(50,30,0,0.90) 50%, rgba(0,0,0,0.90) 55%,rgba(50,50,50,0.90) 70%,#000 100%);
    box-shadow: 2px 2px 2px 2px black, 0px 1px 1px grey inset; color: #ddd; text-shadow: 1px 1px 2px black;
}
.btn-admin32:hover {
    background-image:radial-gradient(ellipse at 48% 48%, #fa0 0%,rgba(100,80,0,0.90) 50%, rgba(0,0,0,0.90) 55%,rgba(50,50,50,0.90) 70%,#000 100%);
    box-shadow: 2px 2px 2px 2px black, 0px 1px 1px grey inset; color: #eee; text-shadow: 1px 1px 2px black;
}
.btn-admin4 {padding: 5px 5px; min-width:50px; height: 40px; font-size: 20px; border-radius:10px; margin-top:-7px;
    background-image:radial-gradient(ellipse at 48% 48%, #ccc 0%,#777 50%, rgba(0,0,0,0.90) 55%,rgba(50,50,50,0.90) 70%,#000 100%);
    box-shadow: 2px 2px 2px 2px black, 0px 1px 1px grey inset; color: red; text-shadow: 1px 1px 2px black;
}
.btn-admin4:hover {
    background-image:radial-gradient(ellipse at 48% 48%, #eee 0%,#999 50%, rgba(0,0,0,0.90) 55%,rgba(50,50,50,0.90) 70%,#000 100%);
    box-shadow: 2px 2px 2px 2px black, 0px 1px 1px grey inset; color: orange; text-shadow: 1px 1px 2px black;
}
.btn-lftetat  { text-align: left; margin-left:-6px; padding:0; font-weight: inherit; font-size: 8px; width: 25px;}	
.btn-etat:hover {font-size: 9px; color: lime;  background-color: #aaa;}	

/*Fond en forme de plaque vissée */
.plaqueMetal {position:absolute; top:150px; left:50px; 
    min-width:1020px; min-height:200px; border-radius: 5px; 
    background-image:linear-gradient(to right, #333 0%,rgba(250,250,250,0.60) 2%, rgba(200,200,200,0.50) 98%, #000 100%),
    linear-gradient(to bottom, #222 0%,rgba(250,250,250,0.30) 5%,rgba(230,230,230,0.70) 95%,#000 99%);
}
.vis1 {position:absolute; top:15px; left:18px; z-index:100; border-radius: 50%; 
    background-image: radial-gradient( circle at 45% 45%, rgba(140,140,140,0.50) 65%, rgba(0,0,0,0.90) 70%),
    linear-gradient( 150deg, rgba(140,140,140,0.10) 41%, rgba(20,20,20,1) 51%,rgba(250,250,250,0.10) 52%, rgba(250,250,250,0.10) 100%);
    max-width:30px; min-width:30px;min-height:30px;}
.vis2 {position:absolute; top:15px; right:18px; z-index:100; border-radius: 50%; 
    background-image: radial-gradient( circle at 45% 45%, rgba(140,140,140,0.50) 65%, rgba(0,0,0,0.90) 70%),
    linear-gradient( 70deg, rgba(140,140,140,0.10) 45%, rgba(20,20,20,1) 55%,rgba(250,250,250,0.10) 56%, rgba(250,250,250,0.10) 100%);
    max-width:30px; min-width:30px;min-height:30px;}
.vis3 {position:absolute; top:155px; left:18px; z-index:100; border-radius: 50%; 
    background-image: radial-gradient( circle at 45% 45%, rgba(140,140,140,0.50) 65%, rgba(0,0,0,0.90) 70%),
    linear-gradient( 10deg, rgba(140,140,140,0.10) 44%, rgba(20,20,20,1) 54%,rgba(250,250,250,0.10) 55%, rgba(250,250,250,0.10) 100%);
    max-width:30px; min-width:30px;min-height:30px;}
.vis4 {position:absolute; top:155px; right:18px; z-index:100; border-radius: 50%; 
    background-image: radial-gradient( circle at 45% 45%, rgba(140,140,140,0.50) 65%, rgba(0,0,0,0.90) 70%),
    linear-gradient( 40deg, rgba(140,140,140,0.10) 44%, rgba(20,20,20,1) 54%,rgba(250,250,250,0.10) 55%, rgba(250,250,250,0.10) 100%);
    max-width:30px; min-width:30px;min-height:30px;}
.front-select {  border: 2px solid #224; border-radius:4px; font-size:12px; font-weight: bold ; line-height:16px; color: black; background-color: #ccf; }
.th-center {text-align: center;}

/* Rating 5 étoiles **** */
.c-rating {
	/*clear:both;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.c-rating__0 {
  width:27px;
  height: 24px;
  cursor: pointer;
}


/* ******* FLÈCHES DE PROGRESSION type chevron : 1>2>3>4>5 ******* */
/* <li class="step_current one"> ...</li><li class="step_todo two"> ...</li>...*/
ul.step {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 30px;
	overflow: hidden;
	margin-top: 0;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul.step li.step_current {
    font-weight: bold;
    background: #42b856;
    background: -moz-linear-gradient(top,#42b856 0,#43ab54 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#42b856),color-stop(100%,#43ab54));
    background: -webkit-linear-gradient(top,#42b856 0,#43ab54 100%);
    background: -o-linear-gradient(top,#42b856 0,#43ab54 100%);
    background: -ms-linear-gradient(top,#42b856 0,#43ab54 100%);
    background: linear-gradient(to bottom,#42b856 0,#43ab54 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#42b856',endColorstr='#43ab54',GradientType=0);
    border-color: #399b49 #51ae5c #208931 #369946;
}
ul.step li.first {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left-width: 1px;
	border-left-color: #b7b7b7;
}
ul.step li.step_todo span {
    padding-left: 38px;
    display: block;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #fff;
	color: #333;
	position: relative;
}
ul.step li.first span, ul.step li.first a {
    z-index: 5;
    padding-left: 13px !important;
}
ul.step li.second span, ul.step li.second a {
    z-index: 4;
}
ul.step li.third span, ul.step li.third a {
    z-index: 3;
}
ul.step li.four span, ul.step li.four a {
    z-index: 2;
}
ul.step li.last span {
    z-index: 1;
}
 *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul.step li a, ul.step li span, ul.step li.step_current span, ul.step li.step_current_end span {
    display: block;
    padding: 13px 10px 14px 13px;
    color: #333;
    font-size: 17px;
    line-height: 21px;
    font-weight: bold;
    text-shadow: 1px 1px white;
    position: relative;
}
.clearfix::before, .clearfix::after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}
.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}
ul.step li.step_current span::after {
    background: url(../img/order-step-a.png) right 0 no-repeat;
}
li.step_todo span::after {
    background: url(../img/order-step-current.png) right 0 no-repeat;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-left-width: 1px;
	border-left-color: #b7b7b7;
	
}
ul.step li a::after, ul.step li span::after, ul.step li.step_current span::after, ul.step li.step_current_end span::after {
    content: ".";
    position: absolute;
    top: 0;
    right: -31px;
    z-index: 0;
    text-indent: -5000px;
    display: block;
    width: 31px;
    height: 52px;
    margin-top: -2px;
}
ul.step li {
    float: left;
    width: 20%;
    text-align: left;
    border: 1px solid;
    border-top-color: #cacaca;
    border-bottom-color: #9a9a9a;
    border-right-color: #b7b7b7;
    border-left-width: 0;
}
ul.step li.step_todo span {
    color: #333;
}
ul.step li a, ul.step li span, ul.step li.step_current span, ul.step li.step_current_end span {
    color: #333;
    font-size: 17px;
    line-height: 21px;
    font-weight: bold;
    text-shadow: 1px 1px white;
}
ul.step li {
    text-align: left;
    list-style: none;
}
ul.step li.step_todo {
    background: #f7f7f7;
    background: -moz-linear-gradient(top,#f7f7f7 0,#ededed 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f7f7f7),color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top,#f7f7f7 0,#ededed 100%);
    background: -o-linear-gradient(top,#f7f7f7 0,#ededed 100%);
    background: -ms-linear-gradient(top,#f7f7f7 0,#ededed 100%);
    background: linear-gradient(to bottom,#f7f7f7 0,#ededed 100%);
    border:none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7',endColorstr='#ededed',GradientType=0);
}
ul.step li.last {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
ul.step li.last span {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Module inscription / connexion / se déconnecter */
.modulelogin-conteneur {
  min-width:300px; margin-top:10px; margin-right:10px;
}
.modulelogin-interne {
  margin-top:0px; background:#4a6; padding-top: 5px; padding-bottom: 0px; min-height:35px;
}
.modulelogin-login {
  padding-bottom: 8px; text-align:center; font-weight: 600; text-decoration: none; color:#254;background:#4a6;
}
.modulelogin-login:hover {
   font-weight: 800; 
}
a:hover .modulelogin-login {
  text-decoration:none;color:#8c9; 
}
.modulelogin-interne a:hover {
  text-decoration:none;
}


/* Etiquettes produit*/
.thumbnail {/*
  min-width:305px;
  margin-right:5px;*/
}
/* Module nbre article panier */
.panier {
  border-radius:4px;
  line-height: 20px;
  list-style: none;
  max-height: 17px;
  background: #f9a825;
  color:#34495e ;
  margin-bottom: 2px;
  margin-top: -5px;
}
.panier-eye-cont {
  padding-right:2px; 
  padding-left:4px; 
  padding-bottom:2px; 
  margin-top: 5px;
}
.navbar-nav >li>a.panier-eye{
  padding-top:0px;
  max-height:14px; 
  min-width:20px;
  line-height: 14px;
  padding-left:5px;   
  padding-right:5px;
  padding-bottom:0px;
}
/* Formulaires */
.row.form-group.fosuser label{
  color:#234;
  min-width:170px;
}
.row.form-group.fosuser input{
  color:#123;
  border:1px solid #579;
  min-width:150px;
  height: 24px; 
  line-height: 17px; 
  font-size: 14px;
}
.form-group-bordered {
   border:1px solid #579;
}
/* Menu side-bar qui collapse sur la droite (ou vers la gauche) */
/*
  <div class="container">
    <div class="row" id="row-main">

      <!--<div class="col-md-3" id="sidebar">  <h3>Partie 'menu side-bar' droite</h3> </div> -->

      <div class="col-md-9" id="content"> <h3>Partie centrale</h3> 
      <button type="button" class="btn btn-default toggle-sidebar">&#8801; Ouvre/ferme</button>
      </div>

      <div class="col-md-3" id="sidebar">  <h3>Partie 'menu side-bar' droite</h3> </div>

    </div>ÛÙý
  </div>
  <script>
    $(document).ready(function () {
      $(".toggle-sidebar").click(function () {
        $("#sidebar").toggleClass("collapsed");
        $("#content").toggleClass("col-md-12 col-md-9");        
        return false;
      });
    });
  </script>
*/
    #content, #sidebar {  min-height: 500px; }
    #row-main { overflow-x: hidden;  }
    #content {    
      -webkit-transition: width 0.3s ease;  -moz-transition: width 0.3s ease;  -o-transition: width 0.3s ease;
      transition: width 0.3s ease;
    }
    .col-md-10 .width-12, .col-md-12 .width-10 {   display: none; }
    #sidebar {     
      -webkit-transition: margin 0.3s ease; -moz-transition: margin 0.3s ease;  -o-transition: margin 0.3s ease;
      transition: margin 0.3s ease;
    }
    .collapsed { 
      display: none; 
      max-width: 3px; 
      }
    .collapsed .well{ 
      display: none; 
      max-width: 3px; 
      }

    @media (min-width: 992px) {
      .collapsed {
        display: block;
        margin-right: -25%; /* => margin-left: -25%*/
      }
    }