{% if nbAvis == 0 %}
  <div class="row h6b" style="line-height:50%;" > <i style="color:#223;"> 
      (Pas de nouvel avis reçu)        
  </i></div> 
{% else %}         
  <div class="row h6b" style="line-height:50%;" ><i style="color:#223;"> (</i><i style="color:#f40;">
    {{nbAvis}} nouveau{% if nbAvis > 1 %}x{% endif %} </i><i style="color:#223;"> )
  </i></div>
  {% endif %}
