<div class="row menuPanier" >
        <div class=" col-xs-1 glyphicon glyphicon-shopping-cart" > </div>
        <div class=" col-xs-4">PANIER:&nbsp;</div>
        <div class="col-xs-6">
            {% if articles == 0 %} 
                <span style="font-size:0.9em">
                Aucun article 
                </span>
            {% elseif articles == 1 %} 
                1 article &nbsp;
            {% else %}
             {{articles}} articles  &nbsp;
            {% endif %}
        </div>

        <div class="col-xs-1 panier-eye-cont" ><a href="{{path('panier') }}" class="glyphicon glyphicon-eye-open btn-eye panier-eye" title="voir le panier" ></a> </div>

    
</div>
