<ul class="nav navbar-nav">
        <li class=" glyphicon glyphicon-shopping-cart"> PANIER:&nbsp;</li>
        <li class="">
            {% if articles == 0 %} 
                Aucun article 
            {% elseif articles == 1 %} 
                1 article &nbsp;
            {% else %}
             {{articles}} articles  &nbsp;
            {% endif %}
        </li>

        <li class="panier-eye-cont" ><a href="{{path('panier') }}" class="glyphicon glyphicon-eye-open btn-eye panier-eye" title="voir le panier" ></a> </li>

    
</ul>