{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
    <h1>Nouveau fournisseur</h1>

    {{ form(form) }}
    <div class="row form-group ">
        <div class="col-sm-4">
            <a href="{{ path('adminFournisseurs') }}">
                <button type="button" class="btn btn-greyish">Retour</button>           
            </a>
        </div>
        <div class="col-sm-4">        
            {{ form_widget(form.submit )}}
        </div>
    </div>

{% endblock %}
